<!DOCTYPE html>
<html class="js flexbox flexboxlegacy canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox flexboxlegacy canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HpStorage</title>
    <link rel="stylesheet" href="../../StylePages/Css/bootstrap.min.css">
    <link rel="stylesheet" href="../../StylePages/Css/flexslider.css">
    <link rel="stylesheet" href="../../StylePages/Css/jquery.fancybox.css">
    <link rel="stylesheet" href="../../StylePages/Css/main.css">
    <link rel="stylesheet" href="../../StylePages/Css/responsive.css">
    <link rel="stylesheet" href="../../StylePages/Css/animate.min.css">
    <link rel="stylesheet" href="../../StylePages/Css/font-awesome.min.css">
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
</head>
<body>
    <section class="banner" role="banner">
        <header id="header" class="">
            <div class="header-content clearfix">
                <a class="logo" href="@Url.Action("Index","Home")"><img src="../../StylePages/Image/logo.png" alt=""></a>
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li>@Html.ActionLink("Blob", "Index", "Blob")</li>
                        <li>@Html.ActionLink("File", "Index", "File")</li>
                        <li>@Html.ActionLink("Table", "Index", "Table")</li>
                        <li>@Html.ActionLink("Queue", "Index", "Queue")</li>
                    </ul>
                </nav>
                <a href="file:///C:/Users/emnis/Downloads/hp-Storage/index.html#" class="nav-toggle">Menu<span></span></a>
            </div><!-- header content -->
        </header><!-- header -->

        <div class="container">
            @RenderBody()
        </div>
    </section>

    <footer class="footer">
        <!-- footer top -->
        <div class="footer-bottom">
            <div class="container">
                <div class="col-md-12">
                    <p>Copyright © 2018 hp532. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
</body>
</html>